Proyectos n8n/Días libres.json
{
  "name": "Días libres",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Solicitud de vacaciones",
        "formDescription": "Aquí puedes solictar tus vacaciones o días libres por enfermedad.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre completo",
              "placeholder": "Nombre completo del empleado",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo electrónico",
              "fieldType": "email",
              "placeholder": "Correo electrónico del empleado",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha inicio",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha de retorno",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Comentarios",
              "fieldType": "textarea",
              "placeholder": "Comentarios adicionales de la solicitud"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Información enviada correctamente"
            }
          },
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\n\t/* Font sizes */\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #f2f2f2; /* gris claro */\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #cccccc;\n\t--color-card-shadow: rgba(0, 0, 0, 0.1);\n\t--color-header: #222222;\n\t--color-label: #444444;\n\t--color-link: #666666;\n\t--color-input-border: #bbbbbb;\n\t--color-input-text: #222222;\n\t--color-focus-border: #555555;\n\t--color-submit-btn-bg: #333333;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #cc0000;\n\t--color-required: #d63333;\n\t--color-clear-button-bg: #999999;\n\t--color-html-text: #333333;\n\t--color-html-link: #555555;\n\t--color-header-subtext: #777777;\n\t--color-test-notice-text: #333333;\n\t--color-test-notice-bg: #e6e6e6;\n\t--color-test-notice-border: #cccccc;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Effects */\n\t--box-shadow-card: 0px 2px 8px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.6;\n}\n\n/* Ejemplo de uso */\nbody {\n\tbackground: var(--color-background);\n\tcolor: var(--color-html-text);\n\tfont-family: var(--font-family);\n}\n\n.card {\n\tbackground: var(--color-card-bg);\n\tborder: 1px solid var(--color-card-border);\n\tborder-radius: var(--card-border-radius);\n\tbox-shadow: var(--box-shadow-card);\n\tpadding: var(--card-padding);\n\tmargin-bottom: var(--card-margin-bottom);\n}\n\nbutton {\n\tbackground: var(--color-submit-btn-bg);\n\tcolor: var(--color-submit-btn-text);\n\tborder: none;\n\tborder-radius: var(--border-radius-input);\n\theight: var(--submit-btn-height);\n\tcursor: pointer;\n\ttransition: background 0.3s ease;\n}\n\nbutton:hover {\n\tbackground: #000000;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1760,
        176
      ],
      "id": "eb05243d-18dd-4cfd-82e1-2d795ba96156",
      "name": "Nueva solicitud de tiempo libre",
      "webhookId": "4f9bc964-928d-4013-9f17-f62efd41d846",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"email\": \"{{ $json.data.email }}\",\n  \"fullName\": \"{{ $json.data.fullName }}\",\n  \"startDate\":\"{{ $json.data.startDate}}\",\n  \"endDate\": \"{{ $json.data.endDate }}\",\n  \"comments\": \"{{ $json.data.comments }}\",\n  \"daysRequested\": {{ \n  (\n     $json.data.endDate.toDateTime()\n    -\n    $json.data.startDate.toDateTime()\n  )\n  /\n  ( 1000 * 60 * 60 * 24 )\n\n}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        400
      ],
      "id": "10d301b6-d2d1-4015-8633-20c4686387cf",
      "name": "Extraer variables de la solicitud"
    },
    {
      "parameters": {
        "content": "## Validaciones\n",
        "height": 512,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        304
      ],
      "id": "e134230f-e1f7-4978-b8ed-cc54f116e11f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6597f3b-051c-49f3-8013-cf2db9cc08b1",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.startDate.toDateTime().plus(7, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        400
      ],
      "id": "247a0673-320b-4065-87e4-f036a09ace15",
      "name": "¿Es mayor a hoy + 7 días?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email }}",
        "subject": "Rechazo de solicitud",
        "message": "=<h1>Mande al solicitud de nuevo </h1>\n\n<p>\n{{ $json.message }}\n</p>\n\n\n<p>\nCordialmente: RRHH\n</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        912
      ],
      "id": "4d464626-4f0e-4015-9954-7e894bc6d3da",
      "name": "Enviar mensaje de rechazo",
      "webhookId": "388a6452-9ea7-48a7-afa3-585f7986bb96",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9YnsNGh0FP8wxSf",
          "name": "Curso udemy credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Se debe de solicitar con 7 días de antelación\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        624
      ],
      "id": "ac967405-1169-430f-b929-c14f1b459eb5",
      "name": "Añadir error - Tiempo de solicitud"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d921f76c-7fd6-4c54-a91f-27c649150a06",
              "leftValue": "={{ $('Extraer variables de la solicitud').item.json.daysRequested }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        384
      ],
      "id": "2b0537f1-2da6-4f9d-8e15-0c9cd6ba0b5d",
      "name": "¿Fechas son correctas?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Revise correctamente las fechas, ya que se solicitan {{ $json.daysRequested }}, fecha de inicio: {{ $json.startDate }}, y fecha de retorno: {{ $json.endDate }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        624
      ],
      "id": "16851247-b3b2-4b0e-9ad8-e77b80562e90",
      "name": "Añadir error - Fechas no son correctas"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        368
      ],
      "id": "47b9be45-d7ee-4bd3-98c5-5b2c11870289",
      "name": "Obtener días libres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "0Tg5lzs2P7i7IVXo",
          "name": "Postgres NeonTech- udemy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "42b16f4d-d56d-48c0-8db1-c9132f8b2231",
              "leftValue": "={{ $('Extraer variables de la solicitud').item.json.daysRequested }}",
              "rightValue": "={{ $json.vacation_days }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        368
      ],
      "id": "dccdfffa-6984-487f-bbd3-f1d5ad6dfd14",
      "name": "¿Tiene suficientes vacaciones?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"No tiene suficiente tiempo libre, cuenta con: {{ $json.vacation_days }} días.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        608
      ],
      "id": "115339a8-920a-4ebc-8de9-e0dcac71e96a",
      "name": "Añadir error - No tiene suficientes vacaciones"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Solicitud nueva:\nEmpleado: {{ $('Extraer variables de la solicitud').item.json.fullName }}\nCorreo: {{ $('Extraer variables de la solicitud').item.json.email }}\n\nFecha de inicio: {{ $('Extraer variables de la solicitud').item.json.startDate }}\nFecha de retorno: {{ $('Extraer variables de la solicitud').item.json.endDate }}\n\n### Comentarios:\n{{ $('Extraer variables de la solicitud').item.json.comments }}\n\n\n## Aprobar o Rechazar:\nPara continuar, [click aquí]({{ $execution.resumeUrl }})",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        144,
        80
      ],
      "id": "e966376c-67bf-46e8-9cae-c52be29044b4",
      "name": "Enviar mensaje a RRHH",
      "webhookId": "4078ba62-ae38-432a-b88e-eb6d560aa7f1",
      "credentials": {
        "discordWebhookApi": {
          "id": "IeGko2BYB7qJmeI7",
          "name": "Discord RRHH Webhook"
        }
      }
    },
    {
      "parameters": {
        "content": "## RRHH\n",
        "height": 288,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "15fba9c4-80e0-4e78-acc4-68079231ff70",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resume": "webhook",
        "incomingAuthentication": "headerAuth",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 2,
        "resumeUnit": "days",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        80
      ],
      "id": "e7ce260a-4b90-4d86-b0ec-18f3ceed16f5",
      "name": "Esperar a RRHH 48 horas",
      "webhookId": "406850d2-d007-4a9d-851f-83a59145dbf4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "h8o2vtn7hQP1MUR2",
          "name": "Header Auth - secret"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "42b16f4d-d56d-48c0-8db1-c9132f8b2231",
              "leftValue": "={{ $json.body.approve }}",
              "rightValue": "=Aprobar",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        384
      ],
      "id": "6fabafcb-4000-418c-972a-f0365b7cf5c6",
      "name": "¿RRHH aprueba la solicitud?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"{{ $json.body.message || \"No hay mensaje de justificación\"}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        624
      ],
      "id": "cec2ce40-53e6-40e4-9e82-25d89622b3d7",
      "name": "Añadir error - RRHH rechazó la solicitud"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email }}",
        "subject": "Rechazo de solicitud",
        "message": "=<h1>RRHH rechazó la solicitud de tiempo libre</h1>\n\n<p>\n{{ $json.message }}\n</p>\n\n\n<p>\nCordialmente: RRHH\n</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        912
      ],
      "id": "51fe2a58-7506-4d2b-9314-60ad0d000d63",
      "name": "Enviar mensaje - Rechazado por RRHH",
      "webhookId": "388a6452-9ea7-48a7-afa3-585f7986bb96",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9YnsNGh0FP8wxSf",
          "name": "Curso udemy credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Enviar correos\nNotificaciones al solicitante",
        "height": 288,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        832
      ],
      "id": "2d8bf135-f570-433c-b7fb-03f7d5ef0898",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_83f8423752e351cadc74ab26ed3f084c3246de72dcb4b39979b728f929247978@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Tiempo libre empleados - udemy n8n"
        },
        "start": "={{ $('Extraer variables de la solicitud').item.json.startDate }}",
        "end": "={{ $('Extraer variables de la solicitud').item.json.endDate }}",
        "additionalFields": {
          "summary": "=Vacaciones de {{ $('Extraer variables de la solicitud').item.json.fullName }}\n\nTiempo solicitado: {{ $('Extraer variables de la solicitud').item.json.daysRequested }} días."
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        784,
        432
      ],
      "id": "df58ec5a-94a1-4123-ae2e-7fc99a7fbcae",
      "name": "Crear evento de vacaciones del empleado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "kBBCGJ373ybI2I3t",
          "name": "Google Calendar udemy"
        }
      }
    },
    {
      "parameters": {
        "content": "## Procedimientos\nEsto se ejecuta cuando es aprobada la solicitud",
        "height": 512,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        304
      ],
      "id": "aa895d56-adb3-4ce0-9a94-b98476e4b070",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Obtener días libres').item.json.id }}",
            "vacation_days": "={{ $('Obtener días libres').item.json.vacation_days - $('Extraer variables de la solicitud').item.json.daysRequested }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vacation_days",
              "displayName": "vacation_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sick_days",
              "displayName": "sick_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        432
      ],
      "id": "b55c7dac-646d-4306-bcf4-1f34c61a6740",
      "name": "Restar días de vacaciones",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "0Tg5lzs2P7i7IVXo",
          "name": "Postgres NeonTech- udemy"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email }}",
        "subject": "Tiempo aprobado",
        "message": "=<h1>RRHH aprobó la solicitud de tiempo libre</h1>\n\n<p>\nQue disfrutes tu tiempo libre:\n</p>\n\n<p>\nInicio: {{ $('Extraer variables de la solicitud').item.json.startDate }} hasta {{ $('Extraer variables de la solicitud').item.json.endDate }}.\n</p>\n\n\n<p>\nCordialmente: RRHH\n</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        896
      ],
      "id": "6f7b93fe-f0a5-423e-ac6a-fd349802e201",
      "name": "Enviar mensaje - Aprobado",
      "webhookId": "388a6452-9ea7-48a7-afa3-585f7986bb96",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9YnsNGh0FP8wxSf",
          "name": "Curso udemy credentials"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vacation/ask/form/001",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1744,
        480
      ],
      "id": "4467acc7-2b10-434c-8282-4e2a122d0b60",
      "name": "Webhook - POST -Solicitar vacaciones",
      "webhookId": "5441b8be-9af5-4218-9ae6-8a2482f37ef9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "h8o2vtn7hQP1MUR2",
          "name": "Header Auth - secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Espera un body como:\n// {\n//   \"Nombre completo\": \"Fernando Herrera\",\n//   \"Correo electronico\": \"fernando.devtalles@gmail.com\",\n//   \"Fecha de inicio\": \"2025-08-19\",\n//   \"Fecha de retorno\": \"2025-08-23\",\n//   \"Comentarios\": \"Nada en especial\"\n// }\n\nconst src = $input.first().json.body;\nconst errors = [];\n\n// Helpers\nconst getStr = (v) => (v ?? '').toString().trim();\nconst isEmail = (v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v);\nconst ISO_DATE_RE = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst parseISODate = (s) => new Date(`${s}T00:00:00Z`); // avoid server TZ issues\n\n// Extract and normalize\nconst fullName     = getStr(src['Nombre completo']);\nconst email        = getStr(src['Correo electronico']).toLowerCase();\nconst startDateStr = getStr(src['Fecha inicio']);\nconst endDateStr   = getStr(src['Fecha de retorno']);\nconst comments     = getStr(src['Comentarios']);\n\n// Validations\nif (!fullName) errors.push('Nombre completo es requerido.');\nif (!email) errors.push('Correo electrónico es requerido.');\nelse if (!isEmail(email)) errors.push('Correo electrónico inválido.');\n\nif (!startDateStr) errors.push('Fecha de inicio es requerida.');\nelse if (!ISO_DATE_RE.test(startDateStr))\n  errors.push('Fecha de inicio debe tener formato YYYY-MM-DD.');\n\nif (!endDateStr) errors.push('Fecha de retorno es requerida.');\nelse if (!ISO_DATE_RE.test(endDateStr))\n  errors.push('Fecha de retorno debe tener formato YYYY-MM-DD.');\n\n// Date comparison (only if format is valid)\nif (ISO_DATE_RE.test(startDateStr) && ISO_DATE_RE.test(endDateStr)) {\n  const startDate = parseISODate(startDateStr);\n  const endDate   = parseISODate(endDateStr);\n\n  if (Number.isNaN(startDate.valueOf())) errors.push('Fecha de inicio no es válida.');\n  if (Number.isNaN(endDate.valueOf())) errors.push('Fecha de retorno no es válida.');\n\n  // Must be strictly before\n  if (!Number.isNaN(startDate.valueOf()) && !Number.isNaN(endDate.valueOf()) && !(startDate < endDate)) {\n    errors.push('La fecha de inicio debe ser ANTES que la fecha de retorno.');\n  }\n}\n\n// Optional comments\nif (comments && comments.length > 500) {\n  errors.push('Comentarios no debe superar 500 caracteres.');\n}\n\n// Response for chaining with Webhook Response\nif (errors.length) {\n  return [\n    {\n      valid: false,\n      status: 400,\n      errors,\n    },\n  ];\n}\n\nreturn [\n  {\n    valid: true,\n    status: 200,\n    data: {\n      fullName,\n      email,\n      startDate: startDateStr,\n      endDate: endDateStr,\n      comments,\n    },\n   },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        480
      ],
      "id": "12f6a785-1323-48e2-8720-ba00da79fbca",
      "name": "Validar data del webhook"
    },
    {
      "parameters": {
        "content": "## Validaciones",
        "height": 336,
        "width": 576,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        368
      ],
      "typeVersion": 1,
      "id": "7dc2d059-5447-4ff2-99a8-2fc063d52020",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c35304c-e72c-44d6-bf53-7238f41c3bc7",
              "leftValue": "={{ $json.valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1344,
        480
      ],
      "id": "bcbeb334-712f-4f61-a03d-ea29fe3137a2",
      "name": "¿Contiene los campos necesarios?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1152,
        416
      ],
      "id": "f9fa1f49-12f0-4dc6-bcc0-52a28468693c",
      "name": "Responder status 200"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1168,
        576
      ],
      "id": "23fd3ebd-d231-4bbf-8aab-d4fc244c267d",
      "name": "Responder status 400 con los errores"
    }
  ],
  "pinData": {
    "Nueva solicitud de tiempo libre": [
      {
        "json": {
          "Nombre completo": "Fernando Herrera",
          "Correo electrónico": "juanma.foreroar@ecci.edu.co",
          "Fecha inicio": "2025-12-29",
          "Fecha de retorno": "2026-01-04",
          "Comentarios": "Por favor, quiero salir turistear",
          "submittedAt": "2025-08-20T10:10:14.629-04:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Nueva solicitud de tiempo libre": {
      "main": [
        []
      ]
    },
    "Extraer variables de la solicitud": {
      "main": [
        [
          {
            "node": "¿Es mayor a hoy + 7 días?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es mayor a hoy + 7 días?": {
      "main": [
        [
          {
            "node": "¿Fechas son correctas?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir error - Tiempo de solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir error - Tiempo de solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Fechas son correctas?": {
      "main": [
        [
          {
            "node": "Obtener días libres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir error - Fechas no son correctas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir error - Fechas no son correctas": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener días libres": {
      "main": [
        [
          {
            "node": "¿Tiene suficientes vacaciones?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene suficientes vacaciones?": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir error - No tiene suficientes vacaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir error - No tiene suficientes vacaciones": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje a RRHH": {
      "main": [
        [
          {
            "node": "Esperar a RRHH 48 horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar a RRHH 48 horas": {
      "main": [
        [
          {
            "node": "¿RRHH aprueba la solicitud?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿RRHH aprueba la solicitud?": {
      "main": [
        [
          {
            "node": "Crear evento de vacaciones del empleado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir error - RRHH rechazó la solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir error - RRHH rechazó la solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje - Rechazado por RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento de vacaciones del empleado": {
      "main": [
        [
          {
            "node": "Restar días de vacaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restar días de vacaciones": {
      "main": [
        [
          {
            "node": "Enviar mensaje - Aprobado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - POST -Solicitar vacaciones": {
      "main": [
        [
          {
            "node": "Validar data del webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar data del webhook": {
      "main": [
        [
          {
            "node": "¿Contiene los campos necesarios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Contiene los campos necesarios?": {
      "main": [
        [
          {
            "node": "Responder status 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder status 400 con los errores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder status 200": {
      "main": [
        [
          {
            "node": "Extraer variables de la solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ecb5e59-8c07-4b12-9ecb-02e68591c037",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb93d7ebc8a301ed99d10c7fb5d16f7b08b7954450dbaad005179f2a9dd88ba0"
  },
  "id": "3bpbFbjaShTwLd9w",
  "tags": [
    {
      "updatedAt": "2025-12-16T02:00:55.956Z",
      "createdAt": "2025-12-16T02:00:55.956Z",
      "id": "SYMN2ilozszBXsCg",
      "name": "webhooks"
    },
    {
      "updatedAt": "2025-12-16T02:00:34.285Z",
      "createdAt": "2025-12-16T02:00:34.285Z",
      "id": "W4YN2OarJKq9Fi3t",
      "name": "Local"
    }
  ]
}