Proyectos n8n/Formularios - T-Shirt.json
{
  "name": "Formularios - T-Shirt",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ba701c4-df90-4b3b-9923-3ac28d435129",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f7885df2-57f5-43df-afef-a0d81613bd56",
              "leftValue": "={{ $json['Fecha de verificación'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -208,
        256
      ],
      "id": "7ad38c7e-992c-45d6-b466-72221d8655a4",
      "name": "Filtrar registros sin correo eletrónico"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nLeer y filtrar solicitudes",
        "height": 304,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ],
      "id": "2373c331-b1e9-4b17-891b-adfa30f94af6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "juanma.foreroar@ecci.edu.co",
        "subject": "Actualización de camisetas",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Actualización completada</title>\n  </head>\n  <body style=\"font-family: Arial, sans-serif; background: #f7f7f7; padding: 20px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: auto; background: #fff; padding: 20px; border: 1px solid #ddd;\">\n      <tr>\n        <td>\n          <h2 style=\"color: #49129c; margin-top: 0;\">Actualización de camisetas completada</h2>\n          <p>Hola Juan,</p>\n          <p>El proceso de actualización de camisetas ha finalizado correctamente.</p>\n          <p>Fecha: <strong>{{$now.format('yyyy-MM-dd')}}</strong></p>\n          <p>Gracias por tu atención.</p>\n        </td>\n      </tr>\n    </table>\n\n\n<h1>Cambios en los pedidos (correos de los usuarios)</h1>\n\n<p>{{$json.data.map(item => item[\"Email Address\"]).join(', ')}}</p>\n\n\n\n\n\n  </body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        -224
      ],
      "id": "f4d8bbd2-aa64-4e92-8257-602aa1385a37",
      "name": "Send a message",
      "webhookId": "70fb81a3-1b02-4782-a312-38714628abe3",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9YnsNGh0FP8wxSf",
          "name": "Curso udemy credentials"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE",
          "mode": "list",
          "cachedResultName": "T-Shirt (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1147941731,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE/edit#gid=1147941731"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        256
      ],
      "id": "0441057d-889d-4152-8489-24e31c4837d5",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "uJxXuHa677hsuXZ5",
          "name": "Google Sheets Trigger- udemy course"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        432,
        -224
      ],
      "id": "9b055a09-6235-40fb-94e3-5b5dd9b7bd55",
      "name": "Agrupar flujos"
    },
    {
      "parameters": {
        "content": "## Unir ramas\nEnviar correo electronico",
        "height": 272,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -352
      ],
      "id": "5f7c820a-0aa7-455d-a26c-11afb14f6596",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        256
      ],
      "id": "2f876632-ca85-492d-9463-2a5c0608705e",
      "name": "Recorrer cada solicitud nueva"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Fin del ciclo",
      "typeVersion": 1,
      "position": [
        1536,
        496
      ],
      "id": "6c335cfe-1548-4336-a442-29cbe8300480"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from inventory WHERE size = '{{ $json.Talla.substring(0,3).replaceAll('--','')}}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        256
      ],
      "id": "db90f590-3b92-4097-b552-efbf79735817",
      "name": "Obtener inventario por talla",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "0Tg5lzs2P7i7IVXo",
          "name": "Postgres NeonTech- udemy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25d71c31-1286-4f79-ac6f-36046278a13d",
              "leftValue": "={{ $json.in_stock }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b7ee06ec-6d52-411f-b5c6-f86b42116bce",
              "leftValue": "={{ $json.in_stock }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        256
      ],
      "id": "6442b1fb-2ee7-49f9-92d8-94b088351e29",
      "name": "¿Hay existencias?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e03afe9-049a-4d6c-80f1-bbc63d984615",
              "name": "in_stock",
              "value": "={{ ( $json.in_stock -1 >0)? $json.in_stock-1 : 0 }}",
              "type": "number"
            },
            {
              "id": "e92211bb-96c9-4d31-adb1-0f4e9e35e5b5",
              "name": "size",
              "value": "={{ $json.size }}",
              "type": "string"
            },
            {
              "id": "5491a7e2-6854-417d-8773-3bdd9e67ad60",
              "name": "product_name",
              "value": "={{ $json.product_name }}",
              "type": "string"
            },
            {
              "id": "378f0b46-4179-45e3-a03e-8c2bc6220529",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        240
      ],
      "id": "ff7e1710-f3e5-43fe-ac84-a5f61b93214e",
      "name": "Restar inventario(se recomienda hacer un store procedure)"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "inventory",
          "mode": "list",
          "cachedResultName": "inventory"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "in_stock": "={{ $json.in_stock }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "in_stock",
              "displayName": "in_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        240
      ],
      "id": "96ad5dbc-1f4e-4798-8e0f-6fdacc1fdde1",
      "name": "Actualizar inventario",
      "credentials": {
        "postgres": {
          "id": "0Tg5lzs2P7i7IVXo",
          "name": "Postgres NeonTech- udemy"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inventario\nVerificar inventario",
        "height": 304,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        128
      ],
      "typeVersion": 1,
      "id": "9811a29e-f140-4458-8aa7-b1fbbbb78213",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Inventario\nActualizar inventario",
        "height": 304,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        96
      ],
      "typeVersion": 1,
      "id": "346804d4-bb6f-461e-9029-38966df43dc4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE",
          "mode": "list",
          "cachedResultName": "T-Shirt (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1147941731,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE/edit#gid=1147941731"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Filtrar registros sin correo eletrónico').item.json['Email Address'] }}",
            "Verificado": "True",
            "Fecha de verificación": "={{$now.format('dd-LL-yyyy')}}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Talla",
              "displayName": "Talla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comentarios adicionales",
              "displayName": "Comentarios adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verificado",
              "displayName": "Verificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de verificación",
              "displayName": "Fecha de verificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        240
      ],
      "id": "0b368e62-7c20-47af-bb10-dad40ddbdc11",
      "name": "Actualizar respuestas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "64HXLZU6o6QQVFt8",
          "name": "Credential udemy"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE",
          "mode": "list",
          "cachedResultName": "T-Shirt (respuestas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1147941731,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ce2HkztzIixRaglDK5RWkqEvoBKoTO5xDPocT779jBE/edit#gid=1147941731"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Filtrar registros sin correo eletrónico').item.json['Email Address'] }}",
            "Verificado": "False"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Talla",
              "displayName": "Talla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comentarios adicionales",
              "displayName": "Comentarios adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verificado",
              "displayName": "Verificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de verificación",
              "displayName": "Fecha de verificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        448
      ],
      "id": "1ab08da6-6dda-40d4-86ed-14449af093bc",
      "name": "Actualizar registro sin inventario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "64HXLZU6o6QQVFt8",
          "name": "Credential udemy"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Filtrar registros sin correo eletrónico": {
      "main": [
        [
          {
            "node": "Recorrer cada solicitud nueva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filtrar registros sin correo eletrónico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar flujos": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recorrer cada solicitud nueva": {
      "main": [
        [
          {
            "node": "Agrupar flujos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener inventario por talla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fin del ciclo": {
      "main": [
        [
          {
            "node": "Recorrer cada solicitud nueva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener inventario por talla": {
      "main": [
        [
          {
            "node": "¿Hay existencias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay existencias?": {
      "main": [
        [
          {
            "node": "Restar inventario(se recomienda hacer un store procedure)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar registro sin inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restar inventario(se recomienda hacer un store procedure)": {
      "main": [
        [
          {
            "node": "Actualizar inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar inventario": {
      "main": [
        [
          {
            "node": "Actualizar respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar respuestas": {
      "main": [
        [
          {
            "node": "Fin del ciclo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar registro sin inventario": {
      "main": [
        [
          {
            "node": "Recorrer cada solicitud nueva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "408dc5d6-84a5-43c5-b264-018b98394f69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb93d7ebc8a301ed99d10c7fb5d16f7b08b7954450dbaad005179f2a9dd88ba0"
  },
  "id": "v9t6Ou8HVNGhaJ2h",
  "tags": [
    {
      "updatedAt": "2025-12-15T19:28:17.775Z",
      "createdAt": "2025-12-15T19:28:17.775Z",
      "id": "8PEoy3ChDMKk68iC",
      "name": "postgreSQL"
    }
  ]
}