Proyectos n8n/Pokemon Scraper updated.json
{
  "name": "Pokemon Scraper updated",
  "nodes": [
    {
      "parameters": {
        "content": "## Google Sheet\nGuardar información en el documento",
        "height": 320,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "91a786c0-3392-47b2-8580-aac953680190",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Enviar correo\nCon el resumen del proceso",
        "height": 288,
        "width": 358,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        16
      ],
      "id": "08129711-596b-4951-a73e-804114d6ae3f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agupar\nDatos de salida",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        16
      ],
      "id": "8c940320-3ff9-4e6f-99d2-88980b2d42ea",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Nombre"
            },
            {
              "fieldToAggregate": "ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "7c6dfb0c-a9b8-4a71-9b71-8237b6b4c91d",
      "name": "Agrupar resultados"
    },
    {
      "parameters": {
        "sendTo": "fernando.devtalles@gmail.com",
        "subject": "El proceso de migración terminó",
        "message": "=<h1>Proceso terminó </h1>\n\n<h2>Nuevos Pokémons  ( {{ $json.ID.length }} ) </h2>\n{{ $json.ID }} \n<br/>\n{{ $json.Nombre }} \n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        112
      ],
      "id": "17268baf-fd26-4a0c-ad27-d8721518e81a",
      "name": "Enviar correo de resultado del proceso",
      "webhookId": "051d212b-7134-4612-b2ae-4bbbde23a7d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9YnsNGh0FP8wxSf",
          "name": "Curso udemy credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## HTTP\nTraer información de los pokemons",
        "height": 272,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        16
      ],
      "id": "10049175-2e93-4290-a262-5208f2de6556",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Filtro\nÚnicamente pasan los que no tienen nombre y tipo",
        "height": 240,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        32
      ],
      "id": "27e92909-4145-46ee-97f5-4172c06d2c6e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9cf8806b-b433-4d5f-9d01-29163f2e31b7",
              "leftValue": "={{ $json.Nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "f3e41c07-16bb-4c26-998c-3a8c64c21083",
              "leftValue": "={{ $json.Tipo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -704,
        112
      ],
      "id": "7282b872-dcf1-49e3-9a0b-e499c2bde27c",
      "name": "Filtrar pokemons a buscar"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nObtener IDS de los Pokémons",
        "height": 240,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        32
      ],
      "typeVersion": 1,
      "id": "45e37c80-0736-4196-ad94-d8b2fe2cbaee",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pLKMJdXI6pKzrxB6kKkxu5_-EkXyZvYgWUbAFC-Bnpo",
          "mode": "list",
          "cachedResultName": "Pokemon tabla de información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pLKMJdXI6pKzrxB6kKkxu5_-EkXyZvYgWUbAFC-Bnpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemons-ID-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pLKMJdXI6pKzrxB6kKkxu5_-EkXyZvYgWUbAFC-Bnpo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Nombre": "={{ $json.name }}",
            "Tipo": "={{ $json.type }}",
            "Sprite Frontal": "={{ $json.photos.front }}",
            "Sprite Posterior": "={{ $json.photos.back }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Frontal",
              "displayName": "Sprite Frontal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Posterior",
              "displayName": "Sprite Posterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        112
      ],
      "id": "1f5a9b80-a67b-4e2d-85e1-c6c723c532a0",
      "name": "Actualizar información de Pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wigsFipPncDcHqOx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c21421ca-c4fb-4b94-8dfe-f506480cb200",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "397c5e7d-2d22-447c-90b6-785400fab64b",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "4b889f2e-97f0-4273-bcf3-d5261af9bd07",
              "name": "type",
              "value": "={{ $json.types[0].type.name }}",
              "type": "string"
            },
            {
              "id": "46d23461-2e8c-431b-ab59-70036e789533",
              "name": "photos.front",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            },
            {
              "id": "5f28249b-fb55-4314-8994-f29463cd00be",
              "name": "photos.back",
              "value": "={{ $json.sprites.back_default }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        112
      ],
      "id": "2eb1aeca-f375-4b31-a7e2-f99685b25c26",
      "name": "Extraer datos del pokémon"
    },
    {
      "parameters": {
        "url": "=  https://pokeapi.co/api/v2/pokemon/{{ $json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        112
      ],
      "id": "dab22d16-7ee6-44e9-82ac-758a8c8c9609",
      "name": "Obtener información pokemon"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1j6a1Qir2aZx9RpS78aK2_-ia1gSu3CXUrXqfNbdQEkE",
          "mode": "list",
          "cachedResultName": "Pokemon tabla de información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j6a1Qir2aZx9RpS78aK2_-ia1gSu3CXUrXqfNbdQEkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j6a1Qir2aZx9RpS78aK2_-ia1gSu3CXUrXqfNbdQEkE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        112
      ],
      "id": "daba45fc-5142-4531-a28d-d4b5d3a7da39",
      "name": "Obtener ids de Pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "64HXLZU6o6QQVFt8",
          "name": "Credential udemy"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        112
      ],
      "id": "5abc7a5b-4ac7-4bd3-afc6-3d6a432f6a8b",
      "name": "Click"
    }
  ],
  "pinData": {},
  "connections": {
    "Agrupar resultados": {
      "main": [
        [
          {
            "node": "Enviar correo de resultado del proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar pokemons a buscar": {
      "main": [
        [
          {
            "node": "Obtener información pokemon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar información de Pokemons": {
      "main": [
        [
          {
            "node": "Agrupar resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos del pokémon": {
      "main": [
        [
          {
            "node": "Actualizar información de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener información pokemon": {
      "main": [
        [
          {
            "node": "Extraer datos del pokémon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ids de Pokemons": {
      "main": [
        [
          {
            "node": "Filtrar pokemons a buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click": {
      "main": [
        [
          {
            "node": "Obtener ids de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e60687d0-e7b1-42bd-ae10-d15cad2f0e60",
  "meta": {
    "instanceId": "bb93d7ebc8a301ed99d10c7fb5d16f7b08b7954450dbaad005179f2a9dd88ba0"
  },
  "id": "iWwV4gLAeK9gRozu",
  "tags": [
    {
      "updatedAt": "2025-12-14T19:59:27.924Z",
      "createdAt": "2025-12-14T19:59:27.924Z",
      "id": "QxQQnMb88KLMneiB",
      "name": "pokemons"
    },
    {
      "updatedAt": "2025-12-14T19:59:27.974Z",
      "createdAt": "2025-12-14T19:59:27.974Z",
      "id": "rVdPv4nS1AWGnhcI",
      "name": "primer workflow"
    }
  ]
}