Proyectos n8n/Solicitud de vacaciones y dias de enfermedad.json
{
  "name": "Solicitud de vacaciones y dias de enfermedad",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Solicitud de vacaciones",
        "formDescription": "Aqui puedes solicitar tus vacaciones o d칤as libres por enfermedad.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre completo",
              "placeholder": "Nombre completo del empleado",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo electr칩nico",
              "fieldType": "email",
              "placeholder": "Correo electr칩nico del empleado",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha inicio de las vacaciones",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha de retorno",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Comentarios",
              "placeholder": "Comentarios adicionales de la solicitud"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Tu solicitud ha sido enviada"
            }
          },
          "customCss": ":root {\n\t/* Typography */\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\n\t/* 游끽 Backgrounds */\n\t--color-background: #f4f5f7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #d9dce1;\n\n\t/* 游닇 Text */\n\t--color-header: #2f2f33;\n\t--color-header-subtext: #6b6f76;\n\t--color-label: #3f3f44;\n\t--color-html-text: #44474d;\n\t--color-link: #5c5f66;\n\t--color-html-link: #2f2f33;\n\n\t/* 九勇 Inputs */\n\t--color-input-border: #cfd3da;\n\t--color-input-text: #2f2f33;\n\t--color-focus-border: #2f2f33;\n\n\t/* 游댖 Buttons */\n\t--color-submit-btn-bg: #2f2f33;\n\t--color-submit-btn-text: #ffffff;\n\t--color-clear-button-bg: #7a7f87;\n\n\t/* 丘멆잺 States */\n\t--color-error: #c63636;\n\t--color-required: #c63636;\n\n\t/* 游닍 Cards & Shadows */\n\t--color-card-shadow: rgba(0, 0, 0, 0.08);\n\t--box-shadow-card: 0px 4px 12px rgba(0, 0, 0, 0.08);\n\n\t/* 游릱 Borders */\n\t--border-radius-card: 6px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\n\t/* 游늻 Layout */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* 游늺 Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-form-input: 12px;\n\t--margin-bottom-card: 16px;\n\n\t/* 游댌 Others */\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "85229a1c-076a-4b2c-b313-201a99312055",
      "name": "Nueva solicitud de tiempo libre",
      "webhookId": "ff9c4062-a052-4be7-bea6-a7a934991651"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"email\": \"{{ $json['Correo electr칩nico'] }}\",\n  \"fullName\": \"{{ $json['Nombre completo'] }}\",\n  \"startDate\":\"{{ $json['Fecha inicio de las vacaciones'] }}\",\n  \"endDate\":\"{{ $json['Fecha de retorno'] }}\",\n  \"comments\":\"{{ $json.Comentarios }}\",\n  \"daysRequested\": {{ \n    (\n      $json['Fecha de retorno'].toDateTime()\n      -\n      $json['Fecha inicio de las vacaciones'].toDateTime()\n    )\n    /\n    (1000*60*60*24)\n}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f6f34566-fed7-4ff1-9144-b051f2d722d5",
      "name": "Extraer variables de la solicitud"
    },
    {
      "parameters": {
        "content": "## Validaciones\n",
        "height": 528,
        "width": 1488,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -192
      ],
      "typeVersion": 1,
      "id": "a3a17148-e522-4150-a61c-d0c926fc556c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d4953c73-3d04-45af-b3da-7ec435dce487",
              "leftValue": "={{ $json.startDate.toDateTime() }}",
              "rightValue": "={{ $now.plus(7, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "8e87306e-2cf7-49b9-9d9e-a663a24429ca",
      "name": "쮼s mayor a hoy +7 d칤as?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email}}",
        "subject": "Rechazo de soliciutd ",
        "message": "=<h1>Mande la solicitud de nuevo</h1>\n\n<p>\n{{ $json.message }}\n</p>\n\n<p>\nAtentamente: RRHH\n</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        528
      ],
      "id": "1ab38d19-a9cb-4fae-8893-e0ef3d1f8a7a",
      "name": "Enviar mensaje de rechazo",
      "webhookId": "4885ce50-82d8-4df8-b2b4-c3adcefaddca",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9YnsNGh0FP8wxSf",
          "name": "Curso udemy credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\":false,\n  \"message\": \"Se debe de solicitar con 7 d칤as de diferencia al d칤a de hoy\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        176
      ],
      "id": "5801816b-5a15-4b12-8a66-f793ef3640a2",
      "name": "A침adir error - Tiempo de solicitud"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\":false,\n  \"message\": \"Hubo un problema con las fechas de la solicitud, ten encuenta que debe ser minimo un d칤a y que la fecha de regreso debe ser mayor a la de inicio estas son tus fechas: \nFecha de inicio: {{ $('쮼s mayor a hoy +7 d칤as?').item.json.startDate }}\nFecha de regreso: {{ $json.endDate }}\n\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        176
      ],
      "id": "1f2103a3-c1ea-4724-a8c3-464fc0ce9ff0",
      "name": "A침adir error- fechas de solicitud"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c75ff484-279b-4d45-a3d3-959ce0a5474c",
              "leftValue": "={{ $json.daysRequested }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -96
      ],
      "id": "41464a35-4b44-4c64-b5bb-c49639f493c3",
      "name": "쯃as fechas son correctas?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        -160
      ],
      "id": "3e9a4574-410c-4fcf-8f8c-d3f574627953",
      "name": "obtener d칤as libres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "0Tg5lzs2P7i7IVXo",
          "name": "Postgres NeonTech- udemy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3cc498df-d2c2-4f9a-a948-1a74cb0b4c2e",
              "leftValue": "={{ $('Extraer variables de la solicitud').item.json.daysRequested }}",
              "rightValue": "={{ $json.vacation_days }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        -160
      ],
      "id": "a7e4a6f7-a744-4bd8-9554-19b65d38a2db",
      "name": "쯊ienes suficientes vacaciones?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\":false,\n  \"message\": \"No tiene suficiente tiempo libre, cuenta con: {{ $json.vacation_days }} d칤as\n\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        80
      ],
      "id": "c64c2e35-d65d-4519-b839-2e761a58db91",
      "name": "A침adir error- No tienes suficientes d칤as libres"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Solicitud nueva:\n\n# Empleado: {{ $('Extraer variables de la solicitud').item.json.fullName }}\n# Correo: {{ $('Extraer variables de la solicitud').item.json.email }}\n\nFecha de inicio:  {{ $('Extraer variables de la solicitud').item.json.startDate }}\n\nFecha de retorno: {{ $('Extraer variables de la solicitud').item.json.endDate }}\n\n\n### Comentarios:\n{{\n(() =>{\n  const item=$('Extraer variables de la solicitud').item.json.comments;\n  const comment = item ? item : \" \"\n\n  return comment\n})()\n}}\n\n## Aprobar o Rechazar:\nPara continuar [click aqui]({{ $execution.resumeFormUrl }})",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1312,
        -480
      ],
      "id": "0450a951-7df9-43fd-926f-8a4e75057e71",
      "name": "Enviar mensaje a RRHH",
      "webhookId": "fdfbb005-667f-4d49-8942-6f16efa79668",
      "credentials": {
        "discordWebhookApi": {
          "id": "IeGko2BYB7qJmeI7",
          "name": "Discord RRHH Webhook"
        }
      }
    },
    {
      "parameters": {
        "content": "## RRHH",
        "height": 256,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        -592
      ],
      "typeVersion": 1,
      "id": "6187565c-6372-409e-922a-28eaf330fd44",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Aprobar tiempo libre",
        "formDescription": "=El empleado: \n\nSolicita: {{ $('Extraer variables de la solicitud').item.json.daysRequested }} d칤as.\n\nEntre: {{ $('Extraer variables de la solicitud').item.json.startDate }} y {{ $('Extraer variables de la solicitud').item.json.endDate }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Aprobar o rechazar",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Aprobar"
                  },
                  {
                    "option": "Rechazar"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Motivo",
              "fieldType": "textarea",
              "placeholder": "Motivo por el cual no se aprueba"
            }
          ]
        },
        "limitWaitTime": true,
        "resumeAmount": 2,
        "resumeUnit": "days",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        -480
      ],
      "id": "47f087ce-2599-4623-9a48-679781831274",
      "name": "Esperar a RRHH 48 horas",
      "webhookId": "ce9919d1-e5ee-480b-b097-c2871a898d28"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3cc498df-d2c2-4f9a-a948-1a74cb0b4c2e",
              "leftValue": "={{ $json['Aprobar o rechazar'].toLowerCase() }}",
              "rightValue": "=aprobar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        -112
      ],
      "id": "6e05d622-be87-4501-98ad-63a4ef46d019",
      "name": "RRHH aprueba la solicitud?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\":false,\n  \"message\": \"{{ $json.Motivo }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        64
      ],
      "id": "41fe2fe1-ac9f-432c-bcfb-f52af9d0c72c",
      "name": "A침adir error- RRHH rechaz칩 la solicitud"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email}}",
        "subject": "Rechazo de soliciutd ",
        "message": "=<h1>RRHH rechaz칩 la solicitud de tiempo libre</h1>\n\n<p>\n{{ $json.message }}\n</p>\n\n<p>\nAtentamente: RRHH\n</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1584,
        528
      ],
      "id": "3ba9e817-b625-470f-a1f7-7e4d5da55801",
      "name": "Enviar mensaje de rechazo1",
      "webhookId": "4885ce50-82d8-4df8-b2b4-c3adcefaddca",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9YnsNGh0FP8wxSf",
          "name": "Curso udemy credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Enviar correos\n\nNotificaciones al solicitante",
        "height": 400,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        352
      ],
      "typeVersion": 1,
      "id": "3eab6ab1-d941-4fea-9536-f9f3a5643cc8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_83f8423752e351cadc74ab26ed3f084c3246de72dcb4b39979b728f929247978@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Tiempo libre empleados - udemy n8n"
        },
        "start": "={{ $('Extraer variables de la solicitud').item.json.startDate }}",
        "end": "={{ $('Extraer variables de la solicitud').item.json.endDate }}",
        "additionalFields": {
          "summary": "=Vacaciones de {{ $('Extraer variables de la solicitud').item.json.fullName }}\n\nTiempo solicitado: {{ $('Extraer variables de la solicitud').item.json.daysRequested }} d칤as."
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1968,
        -80
      ],
      "id": "a6ffd353-5a3a-4ec9-9a18-fb178b476991",
      "name": "Creear evento de vacaciones",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "kBBCGJ373ybI2I3t",
          "name": "Google Calendar udemy"
        }
      }
    },
    {
      "parameters": {
        "content": "## Procedimientos\nEsto se ejecuta cuando es aprobada la solicitud",
        "height": 528,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        -192
      ],
      "typeVersion": 1,
      "id": "2582cbed-a505-4b22-b9c8-a23c2ec228b1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('obtener d칤as libres').item.json.id }}",
            "vacation_days": "={{$('obtener d칤as libres').item.json.vacation_days -$('Extraer variables de la solicitud').item.json.daysRequested }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vacation_days",
              "displayName": "vacation_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sick_days",
              "displayName": "sick_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2192,
        -80
      ],
      "id": "b0d21116-be1c-4347-b73d-e4768352503b",
      "name": "Restar d칤as de vacaciones",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "0Tg5lzs2P7i7IVXo",
          "name": "Postgres NeonTech- udemy"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer variables de la solicitud').item.json.email}}",
        "subject": "Solicitud de tiempo aprovado",
        "message": "=<h1>RRHH aprob칩 la solicitud de tiempo libre</h1>\n\n<p>\nQue disfrutes tu tiempo libre:\n</p>\n<p>\nInicio {{ $('Extraer variables de la solicitud').item.json.startDate }} hasta {{ $('Extraer variables de la solicitud').item.json.endDate }}\n</p>\n\n<p>\nAtentamente: RRHH\n</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2000,
        528
      ],
      "id": "f76be7d7-805b-49e1-a31c-3c77503b963e",
      "name": "Enviar mensaje de aprvado",
      "webhookId": "4885ce50-82d8-4df8-b2b4-c3adcefaddca",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9YnsNGh0FP8wxSf",
          "name": "Curso udemy credentials"
        }
      }
    }
  ],
  "pinData": {
    "Nueva solicitud de tiempo libre": [
      {
        "json": {
          "Nombre completo": "Juan Manuel Forero Aros",
          "Correo electr칩nico": "juanma.foreroar@ecci.edu.co",
          "Fecha inicio de las vacaciones": "2025-12-26",
          "Fecha de retorno": "2025-12-30",
          "Comentarios": "sin comentarios",
          "submittedAt": "2025-12-15T21:30:13.329-05:00",
          "formMode": "test"
        }
      }
    ],
    "obtener d칤as libres": [
      {
        "json": {
          "id": 1,
          "email": "juanma.foreroar@ecci.edu.co",
          "vacation_days": 20,
          "sick_days": 5
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Enviar mensaje a RRHH": [
      {
        "json": {
          "success": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Esperar a RRHH 48 horas": [
      {
        "json": {
          "Aprobar o rechazar": "Aprobar",
          "Motivo": "",
          "submittedAt": "2025-12-19T03:13:35.549Z",
          "formMode": "test"
        }
      }
    ],
    "Extraer variables de la solicitud": [
      {
        "json": {
          "email": "juanma.foreroar@ecci.edu.co",
          "fullName": "Juan Manuel Forero Aros",
          "startDate": "2025-12-26",
          "endDate": "2025-12-30",
          "comments": "sin comentarios",
          "daysRequested": 4
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Nueva solicitud de tiempo libre": {
      "main": [
        [
          {
            "node": "Extraer variables de la solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer variables de la solicitud": {
      "main": [
        [
          {
            "node": "쮼s mayor a hoy +7 d칤as?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쮼s mayor a hoy +7 d칤as?": {
      "main": [
        [
          {
            "node": "쯃as fechas son correctas?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A침adir error - Tiempo de solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A침adir error - Tiempo de solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A침adir error- fechas de solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쯃as fechas son correctas?": {
      "main": [
        [
          {
            "node": "obtener d칤as libres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A침adir error- fechas de solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener d칤as libres": {
      "main": [
        [
          {
            "node": "쯊ienes suficientes vacaciones?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쯊ienes suficientes vacaciones?": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A침adir error- No tienes suficientes d칤as libres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A침adir error- No tienes suficientes d칤as libres": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje a RRHH": {
      "main": [
        [
          {
            "node": "Esperar a RRHH 48 horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar a RRHH 48 horas": {
      "main": [
        [
          {
            "node": "RRHH aprueba la solicitud?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RRHH aprueba la solicitud?": {
      "main": [
        [
          {
            "node": "Creear evento de vacaciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A침adir error- RRHH rechaz칩 la solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A침adir error- RRHH rechaz칩 la solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creear evento de vacaciones": {
      "main": [
        [
          {
            "node": "Restar d칤as de vacaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restar d칤as de vacaciones": {
      "main": [
        [
          {
            "node": "Enviar mensaje de aprvado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94c6946b-3301-4d44-8cda-32395ee14ba4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb93d7ebc8a301ed99d10c7fb5d16f7b08b7954450dbaad005179f2a9dd88ba0"
  },
  "id": "ZReFk9Ex0ujhuxxV",
  "tags": []
}